 <!--Footer Info -->
                <footer class="footer pt-15">
            <div class="container">
                <div class="row footer-info mb-15">
                    <div class="col-md-6 col-sm-12 col-xs-12 mb-sm-30">
                    	<h3 class="text-light">Contact</h3>
                        <p class="footer-address">
                        Studio 212<br />
                        Great Western Studios<br />
                        65 Alfred Road<br />
                        London<br />
                        W2 5EU
                        </p>
                        <ul class="link-small">
                            <li><a href="mailto:rob@hainco.com"><i class="fa fa-envelope-o left"></i>rob@hainco.com</a></li>
                            <li><a><i class="fa fa-phone left"></i>020 7724 0800</a></li>
                            <li><a><i class="fa fa-mobile left"></i>07721 398 009</a></li>
                        </ul>
                    </div>

                    <div class="col-md-6 col-sm-12 col-xs-12 mb-sm-30">
                    	<h3 class="text-light">Site map</h3>
                        <ul class="link">
                        	<li><a href="{{ site.baseurl }}/index.html">Home</a></li>
                        	<li><a href="{{ site.baseurl }}/architectdesign.html">Architectural Design Refurbishment</a></li>
                        	<li><a href="{{ site.baseurl }}/interiordesign.html">Interior Design</a></li>
                        	<li><a href="{{ site.baseurl }}/commercial.html">Commercial</a></li>
                        	<li><a href="{{ site.baseurl }}/about.html">About</a></li>

                        </ul>
                    </div>

                </div>
                <!-- End Footer Info -->
            </div>

            <hr />

            <!-- Copyright Bar -->
            <section class="copyright ptb-15">
                <div class="container">
                	<div class="col-md-6 col-sm-12 col-xs-12 mb-sm-30">
                    	<p class="">
                        	© 2018 <a href="http://www.haineco.com"><b>Haine &amp; Co.</b></a>. All Rights Reserved.     
                    	</p>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 mb-sm-30">
                    	<p class="">
                    		<b>Site Design</b> - <a href="mailto:design@davidcolquhoun.uk"><i class="fa fa-envelope-o left"></i>design@davidcolquhoun.uk</a>
                    	</p>
                    </div>
                </div>
            </section>
            <!-- End Copyright Bar -->

        </footer>