 <header id="header" class="header">
            <div class="container header-inner">

                <!-- Logo -->
                <div class="logo">
                    <a href="index.html">
                        <img class="logo-light" src="assets/img/logo-white.png" alt="Haine &amp; Co." />
                        <img class="logo-dark" src="assets/img/logo-black.png" alt="Haine &amp; Co." />
                    </a>
                </div>
                <!-- End Logo -->

            

                <!-- Mobile Navbar Icon -->
                <div class="nav-mobile nav-bar-icon">
                    <span></span>
                </div>
                <!-- End Mobile Navbar Icon -->

                <!-- Navbar Navigation -->
                <div class="nav-menu">
                    <ul class="nav-menu-inner">
                        <li><a href="index.html">Home </a></li>
                        <li><a href="architectdesign.html">Architectural Design</a></li>
                        <li><a href="interiordesign.html">Interior Design</a></li>
                        <li><a href="commercial.html">Commercial</a></li>
                        <li><a href="about.html">About</a></li>
                       
                    </ul>
                </div>
                <!-- End Navbar Navigation -->

            </div>
        </header>