<head>
    <meta charset="utf-8" />
    <title>Haine &amp; Co. main</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <!-- Favicone Icon -->
   
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">

    <!-- CSS -->
    <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="{{ site.baseurl }}/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{ site.baseurl }}/assets/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="{{ site.baseurl }}/assets/css/ionicons.css" rel="stylesheet" type="text/css" />
    <link href="{{ site.baseurl }}/assets/css/plugin/sidebar-menu.css" rel="stylesheet" type="text/css" />
    <link href="{{ site.baseurl }}/assets/css/plugin/animate.css" rel="stylesheet" type="text/css" />
    <link href="{{ site.baseurl }}/assets/css/jquery-ui.css" rel="stylesheet" type="text/css" />


</head>