
/*-------------------------------------------------------------------------------------------*/
/* BASIC STYLE    ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/

::-moz-selection {
    background-color: $highlight-color;
    color: $pure-white;
}

::selection {
    background-color: $highlight-color;
    color: $pure-white;
}


/*  General Style   ||-----------*/

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    line-height: 24px;
    color: $dark-text-color;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

img {
    height: auto;
    max-width: 100%;
    border: none;
    outline: none;
   @include transition(all 0.2s ease 0s);
}

a, a:focus, a:active, a:link, img {
    outline: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: $dark-text-color;
    @include transition(all 0.25s ease 0s);
}

    a:hover {
        color: $highlight-color;
        text-decoration: none;
        @include transition(all 0.25s ease 0s);
    }




br {
    font-size: 0;
    line-height: 0;
}

hr {
    margin-bottom: 0px;
    margin-top: 0px;
    border-top: 1px solid $very-light-gray;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

    hr.dark {
        border-top: 1px solid $very-dark-gray;
    }

b, strong {
    font-weight: 600;
}

small, small a {
    font-size: 11px;
    color: #888;
}

ul.list-inside {
    list-style: inside;
}

ul.list-none {
    list-style: none;
    padding-left: 0px;
    margin-left: 0;
}

ul.list-none-ib {
    list-style: none;
    padding-left: 0px;
    margin-left: 0;
}

    ul.list-none-ib li, .list-none-ib {
        list-style: none;
        display: inline-block;
    }

ul.text-cap li, .text-cap {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
}

p {
    line-height: 20px;
    font-size: 14px;
    font-weight: 300;
    margin: 0px 0 10px 0;
    color: $dark-dark-gray;
    letter-spacing: 1px;
}

    p.lead, .lead {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
    }

    p.dark, .dark, a.dark, h1.dark, h2.dark, h3.dark, h4.dark, h5.dark, h6.dark {
        color: $dark-text-color !important;
    }

    p.white, .white, a.white, h1.white, h2.white, h3.white, h4.white, h5.white, h6.white {
        color: $pure-white !important;
    }

    p.color, .color, a.color, h1.color, h2.color, h3.color, h4.color, h5.color, h6.color, li.link:hover, li.link a:hover, .color {
        color: $highlight-color !important;
    }

.gray {
    color: #888;
}

.light-color h1, .light-color h2, .light-color h3, .light-color h4, .light-color h5, .light-color h6, .light-color p, .light-color, .light-color .container-icon {
    color: $pure-white;
}

.dark-color h1, .dark-color h2, .dark-color h3, .dark-color h4, .dark-color h5, .dark-color h6, .dark-color p, .dark-color, .dark-color .container-icon {
    color: $dark-text-color;
}

.dark-bg {
    background: $dark-text-color;
    color: $pure-white;
}

    .dark-bg h1, .dark-bg h2, .dark-bg h3, .dark-bg h4, .dark-bg h5, .dark-bg h6, .dark-bg p, .dark-bg .link, .dark-bg .container-icon, .dark-bg .page-icon-top {
        color: $pure-white;
    }

        .dark-bg .link:hover, .link:hover {
            color: $highlight-color;
        }

.gray-bg {
    background: $light-light-gray;
    color: $dark-text-color;
}

    .gray-bg h1, .gray-bg h2, .gray-bg h3, .gray-bg h4, .gray-bg h5, .gray-bg h6, .gray-bg .container-icon {
        color: $dark-text-color;
    }


/*Headings Style   ||-----------*/

.separator {
    height: 1px;
    width: 32px;
    background: #888;
    margin-top: 5px;
    margin-bottom: 3px;
    border: 0 none;
}

    .separator.right {
        float: right;
    }

    .separator.center {
        margin-left: auto;
        margin-right: auto;
    }

    .separator.color {
        background: $highlight-color;
    }

    .separator.white {
        background: $pure-white;
    }

h1, h2, h3, h4, h5, h6 {
    color: $dark-text-color;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 10px;
}

h1 {
    font-size: 43px;
    letter-spacing: 2px;
    line-height: 40px;
}

    h1.h1, h2.h2 {
        letter-spacing: 15px;
    }

@media (max-width: 767px) {
    h1.h1, h2.h2 {
        letter-spacing: 0px;
    }
}

h2 {
    font-size: 27px;
    letter-spacing: 2px;
    line-height: 37px;
    margin-bottom: 20px;
    padding-top: 10px;
}

h3 {
    font-size: 21px;
    letter-spacing: 4px;
    line-height: 32px;
}

/*    h3:after {
        color: $highlight-color;
        content: ".";
        font-size: 34px;
    }
*/
h4 {
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 28px;
}

    h4.h4 {
        letter-spacing: 4px;
    }

h5 {
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 23px;
    font-weight: 600;
}

h6 {
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 17px;
    font-weight: 600;
}

h1.large {
    font-size: 50px;
}

/*Button Style   ||-----------*/
.btn:focus {
    outline: none;
}

.btn, button {
    font-size: 12px;
    line-height: normal;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    @include transition(all 0.3s ease 0s);
    @include border-radius(2px);
}

    .btn i, button i, i.left {
        margin-right: 6px;
    }

i.right {
    margin-left: 6px;
    margin-right: 0px !important;
}

button {
    vertical-align: top;
}

.btn-full {
    width: 100% !important;
    display: inline-block;
    text-align: center;
}

.btn-lg {
    padding: 15px 25px;
    display: inline-block;
}

.btn-md {
    padding: 11px 20px;
    display: inline-block;
}

.btn-xs {
    padding: 11px 15px 10px;
    display: inline-block;
}

.btn-line-xs {
    padding: 7px 15px 7px;
    display: inline-block;
}

.btn-icon {
    padding: 0px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    display: inline-table !important;
}


.btn-black {
    color: $pure-white;
    background: $dark-text-color;
    border: none;
}

    .btn-black:hover {
        color: $pure-white;
        /*background: $highlight-color;*/
        background: rgba(50,50,50,0.85);
    }

.btn-color-a, .btn-color-b {
    color: $pure-white;
    background: $highlight-color;
    border: none;
}

    .btn-color-a:hover {
        color: $pure-white;
        background: rgba(230,174,73,0.85);
    }

    .btn-color-b:hover {
        color: $pure-white;
        /*color: $highlight-color;
        background: $pure-white;*/
        background: rgba(230,174,73,0.85);
    }

.btn-white {
    color: $dark-text-color;
    background: rgba(255,255,255,1);
    border: none;
}

    .btn-white:hover {
        /*color: $pure-white;
        background: $highlight-color;*/
        background: rgba(255,255,255,0.85);
        color: $dark-text-color;
    }

.btn-black-line, .btn-white-line, .btn-color-line {
    border: 2px solid;
    background: none;
}

.btn-black-line {
    color: $dark-text-color;
    border-color: $dark-text-color;
    padding: 9px 20px;
}

    .btn-black-line:hover {
        color: $pure-white;
        background: $dark-text-color;
    }

.btn-color-line {
    color: $highlight-color;
    border-color: $highlight-color;
    padding: 9px 20px;
}

    .btn-color-line:hover {
        color: $pure-white;
        background: $highlight-color;
    }



.btn-white-line {
    color: $pure-white;
    border-color: $pure-white;
    padding: 9px 20px;
}

    .btn-white-line:hover {
        color: $dark-text-color;
        background: $pure-white;
    }

.btn-link-a, .btn-link-b {
    color: $dark-text-color;
    background: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 3px;
    border-bottom: 1px dotted transparent;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

    .btn-link-a:hover {
        color: $highlight-color;
        border-bottom: 1px solid $highlight-color;
    }

    .btn-link-b:hover {
        color: $pure-white;
        border-bottom: 2px solid $pure-white;
    }

.btn-space-5 {
    width: 5px;
    min-height: 1px;
    display: inline-block;
}

.btn-space-10 {
    width: 10px;
    min-height: 1px;
    display: inline-block;
}


/* Spacer Style   ||-----------*/

.spacer-15 {
    width: 100%;
    height: 15px;
}

.spacer-30 {
    width: 100%;
    height: 30px;
}

.spacer-45 {
    width: 100%;
    height: 45px;
}

.spacer-60 {
    width: 100%;
    height: 60px;
}

.spacer-75 {
    width: 100%;
    height: 75px;
}

.spacer-90 {
    width: 100%;
    height: 90px;
}

.no-padding {
    padding: 0 !important;
}

.padding-30 {
    padding: 30px !important;
}

.padding-40 {
    padding: 40px !important;
}

.plr-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.pl-0 {
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}

.ptb-0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.pt-0 {
    padding-top: 0px !important;
}

.pb-0 {
    padding-bottom: 0px !important;
}

.ptb {
    padding-top: 110px;
    padding-bottom: 110px;
}

.pt {
    padding-top: 110px;
}

.pb {
    padding-bottom: 110px;
}

.ptb-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pt-15 {
    padding-top: 15px;
}

.pb-15 {
    padding-bottom: 15px;
}

.ptb-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.ptb-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.pt-80 {
    padding-top: 80px;
}

.pb-80 {
    padding-bottom: 80px;
}

.mtb-0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.mlr-0 {
    margin-left: 0px;
    margin-right: 0px;
}

.mt-0 {
    margin-top: 0px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.ml-0 {
    margin-left: 0px !important;
}

.mr-0 {
    margin-right: 0px !important;
}

.mtb-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.mt-80 {
    margin-top: 80px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mtb-60 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.mt-60 {
    margin-top: 60px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mtb-45 {
    margin-top: 45px;
    margin-bottom: 45px;
}

.mt-45 {
    margin-top: 45px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mtb-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.ml-30 {
    margin-left: 30px;
}

.mr-30 {
    margin-right: 30px;
}

.mtb-25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.mt-25 {
    margin-top: 25px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mtb-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mt-15 {
    margin-top: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

@media (max-width: 991px) {


    .mtb-sm-60 {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .mt-sm-60 {
        margin-top: 60px;
    }

    .mb-sm-60 {
        margin-bottom: 60px;
    }

    .mtb-sm-45 {
        margin-top: 45px;
        margin-bottom: 45px;
    }

    .mt-sm-45 {
        margin-top: 45px;
    }

    .mb-sm-45 {
        margin-bottom: 45px;
    }

    .mtb-sm-30 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .mt-sm-30 {
        margin-top: 30px;
    }

    .mb-sm-30 {
        margin-bottom: 30px;
    }

    .mtb-sm-15 {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .mt-sm-15 {
        margin-top: 15px;
    }

    .mb-sm-15 {
        margin-bottom: 15px;
    }

    .ptb-sm-0 {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .pt-sm-0 {
        padding-top: 0px;
    }

    .pb-sm-0 {
        padding-bottom: 0px;
    }

    .ptb-sm-30 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .pt-sm-30 {
        padding-top: 30px;
    }

    .pb-sm-30 {
        padding-bottom: 30px;
    }

    .ptb-sm-60 {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .pb-sm-60 {
        padding-bottom: 60px;
    }

    .pt-sm-60 {
        padding-top: 60px;
    }

    .ptb-sm-80 {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .pb-sm-80 {
        padding-bottom: 80px;
    }

    .pt-sm-80 {
        padding-top: 80px;
    }

    .float-none-sm {
        float: none !important;
    }

    .float-left-sm {
        float: left !important;
    }

    .float-right-sm {
        float: right !important;
    }
}

@media (max-width: 767px) {

    .mtb-xs-0 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .mt-xs-0 {
        margin-top: 0px;
    }

    .mb-xs-0 {
        margin-bottom: 0px;
    }

    .mtb-xs-15 {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .mt-xs-15 {
        margin-top: 15px;
    }

    .mb-xs-15 {
        margin-bottom: 15px;
    }

    .mtb-xs-30 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .mt-xs-30 {
        margin-top: 30px;
    }

    .mb-xs-30 {
        margin-bottom: 30px;
    }

    .mtb-xs-60 {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .mt-xs-60 {
        margin-top: 60px;
    }

    .mb-xs-60 {
        margin-bottom: 60px;
    }

    .ptb-xs-30 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .pt-xs-30 {
        padding-top: 30px;
    }

    .pb-xs-30 {
        padding-bottom: 30px;
    }

    .ptb-xs-60 {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .pb-xs-60 {
        padding-bottom: 60px;
    }

    .pt-xs-60 {
        padding-top: 60px;
    }

    .float-none-xs {
        float: none !important;
    }

    .float-left-xs {
        float: left !important;
    }

    .float-right-xs {
        float: right !important;
    }
}






/*================================================================================================*/
/* ELEMENTS          ||---------------------------- */
/*================================================================================================*/
/*-------------------------------------------------------------------------------------------*/
/* Client Logo       ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
.client-logo {
    height: 80px;
    text-align: center;
}

    .client-logo img {
        height: 100%;
        width: auto;
    }

/*-------------------------------------------------------------------------------------------*/
/* Icon          ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
.page-icon-top {
    font-size: 50px;
    line-height: 50px;
    padding-bottom: 20px;
    width: 100%;
    color: $dark-text-color;
}

.white .page-icon-top, .white .page-icon-left, .white .features-icon-left, .white .features-icon-right {
    color: $pure-white;
}


/*================================================================================================*/
/* GLOBAL STYLES       ||---------------------------- */
/*================================================================================================*/
/*-------------------------------------------------------------------------------------------*/
/* Push Menu Style (Right Sidebar Menu) --------------- */
/*-------------------------------------------------------------------------------------------*/
/* Sidebar Menu */
.side-menu {
    background: $dark-text-color !important;
    z-index: 2005 !important;
    color: $pure-white;
    padding: 30px;
    overflow-y: auto;
    position: relative;
}

    .side-menu .menu-close {
        left: auto;
        position: absolute;
        right: 30px;
        top: 30px;
        display: inline-block;
        /*background: url("../img/close-white.png") no-repeat center center;*/
        color: $pure-white;
        font-size: 18px;
        line-height: 0;
        overflow: hidden;
    }

        .side-menu .menu-close:hover {
            /*background: url("../img/close-color.png");*/
            color: $highlight-color;
        }

    .side-menu a {
        color: $pure-white;
        font-weight: 500;
        font-size: 12px;
    }

        .side-menu a:hover {
            color: $highlight-color;
        }

    .side-menu ul {
        padding: 0;
    }

        .side-menu ul li {
            list-style: none;
            margin-bottom: 5px;
        }

    .side-menu > ul > li > a {
        text-transform: uppercase;
        letter-spacing: 1px;
        display: block;
    }

    .side-menu input[type="text"], .side-menu input[type="email"], .side-menu input[type="tel"], .side-menu input[type="number"], .side-menu input[type="password"], .side-menu input[type="radio"], .side-menu input[type="checkbox"], .side-menu textarea, .side-menu select {
        /*border: 1px solid #1d1d1d;
        background: #1d1d1d;
        color: $pure-white;*/
        border: none;
    }

        .side-menu input[type="text"]:focus, .side-menu input[type="email"]:focus, .side-menu input[type="tel"]:focus, .side-menu input[type="number"]:focus, .side-menu input[type="radio"]:focus, .side-menu input[type="checkbox"]:focus, .side-menu input[type="password"]:focus, .side-menu textarea:focus, .side-menu select:focus {
            /*border-color: $highlight-color;
            color: $pure-white;*/
        }

    .side-menu .sign-in {
        padding-bottom: 30px;
        border-bottom: 1px solid $very-dark-gray;
        margin-bottom: 30px;
    }

        .side-menu .sign-in a {
            color: $pure-white;
            font-style: italic;
            font-weight: 400;
            font-size: 12px;
            display: inline-block;
            margin-top: 10px;
        }

            .side-menu .sign-in a:hover {
                color: $highlight-color;
                text-decoration: underline;
            }

    .side-menu .logo {
        max-width: 120px;
        width: 100%;
    }

    .side-menu .social {
        list-style: none;
    }

        .side-menu .social li {
            display: inline-block;
            margin: 0 10px 0 0;
        }

            .side-menu .social li a {
                font-size: 16px;
            }

/*-----------------------------------------*/
/* Cover Box     ||----------------------*/
/*-----------------------------------------*/
.cover-box {
    position: relative;
    text-align: center;
}

    .cover-box .cover-box-img {
        width: 100%;
        position: relative;
    }

        .cover-box .cover-box-img img {
            width: 100%;
        }

    .cover-box .cover-box-content {
        padding: 20px;
        background: #f5f5f5;
    }
    .cover-box-content h5 {
    display: inline;
    }
.project-description {
text-align: left;
}

/* --------------------------------------------------------------------------------------- */
/* Contents (Body, Container, Section, etc) -------------- */
/* --------------------------------------------------------------------------------------- */
.wrapper {
    position: relative;
    width: 100%;
}

.inner-intro {
    background-color: $light-light-gray;
    height: 530px;   								/* parallax fix - doubled */
    display: block;
    position: relative;
}

@media screen and (min-width: 1200px) {
    .inner-intro.project {
        background-color: $light-light-gray;
        height: 1060px;
        display: block;
        position: relative;
    }
}

    .inner-intro.inner-intro-small {
        height: 380px;
    }

    .inner-intro .container {
        position: relative;
        height: 100%;
        display: table;
    }

        .inner-intro .container .title {
            padding-bottom: 65px;
            padding-top: 65px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

.full-intro .inner-intro .container .title h2 {
    margin-top: 65px;
}

.inner-intro .container .title .separator {
    margin-right: auto;
    margin-left: auto;
}

.page-breadcrumb {
    background: rgba(255,255,255,0.9);
    padding: 4px 8px;
    display: inline-block;
    color: $dark-text-color;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    @include border-radius(3px);
}

    .page-breadcrumb a, .page-breadcrumb span {
        display: inline-block;
        padding-left: 8px;
        padding-right: 8px;
    }

    .page-breadcrumb span {
        color: #999;
    }

.overlay-static-dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: $pure-white;
    height: 100%;
    z-index: 2;
    background-color: rgba(32,32,32,0.4);
    display: -webkit-flex;
    display: flex;
}

.overlay-dark, .overlay-dark80, .overlay-light, .overlay-light80 {
    position: relative;
    z-index: 1;
}

    .overlay-dark:before, .overlay-dark80:before, .overlay-light:before, .overlay-light80:before {
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        z-index: -1;
    }

    .overlay-dark:before {
        background-color: rgba(32,32,32,0.4);
    }

    .overlay-dark80:before {
        background-color: rgba(32,32,32,0.8);
    }

    .overlay-light:before {
        background-color: rgba(255,255,255,0.4);
    }

    .overlay-light80:before {
        background-color: rgba(255,255,255,0.8);
    }

.full-screen-intro {
    overflow: hidden;
    position: relative;
}

.content-cap-wraper {
    display: table;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.full-cap-wraper {
    display: table;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}

.content-caption {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.content-wd650 {
    max-width: 650px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.cont-h-100per {
    height: 100%;
}

/*backround images*/
.bg-img {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover !important;
}

.bg-img1, .bg-img2, .bg-img3, .bg-img4, .bg-img5, .bg-img6, .bg-img7, .bg-img8, .bg-img9, .bg-img10, .bg-img11, .bg-img12, .bg-img13, .bg-img14, .bg-img15, .bg-img16, .bg-img17, .bg-img18, .bg-img19, .bg-img20, .bg-img21, .bg-img22, .bg-img23, .bg-img24, .bg-img25, .bg-img26, .bg-img27, .bg-img28, .bg-img29, .bg-img30 {
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-img1 {
    background-image: url("../img/full/01.jpg");
}

.bg-img2 {
    background-image: url("../img/full/02.jpg");
}

.bg-img3 {
    background-image: url("../img/full/03.jpg");
}

.bg-img4 {
    background-image: url("../img/full/04.jpg");
}

.bg-img5 {
    background-image: url("../img/full/05.jpg");
}

.bg-img6 {
    background-image: url("../img/full/06.jpg");
}

.bg-img7 {
    background-image: url("../img/full/07.jpg");
}

.bg-img8 {
    background-image: url("../img/full/08.jpg");
}

.bg-img9 {
    background-image: url("../img/full/09.jpg");
}

.bg-img10 {
    background-image: url("../img/full/10.jpg");
}

.bg-img11 {
    background-image: url("../img/full/11.jpg");
}

.bg-img12 {
    background-image: url("../img/full/12.jpg");
}

.bg-img13 {
    background-image: url("../img/full/13.jpg");
}

.bg-img14 {
    background-image: url("../img/full/14.jpg");
}

.bg-img15 {
    background-image: url("../img/full/15.jpg");
}

.bg-img16 {
    background-image: url("../img/full/16.jpg");
}

.bg-img17 {
    background-image: url("../img/full/17.jpg");
}

.bg-img18 {
    background-image: url("../img/full/18.jpg");
}

.bg-img19 {
    background-image: url("../img/full/19.jpg");
}

.bg-img20 {
    background-image: url("../img/full/20.jpg");
}

.bg-img21 {
    background-image: url("../img/full/21.jpg");
}

.bg-img22 {
    background-image: url("../img/full/22.jpg");
}

.bg-img23 {
    background-image: url("../img/full/23.jpg");
}

.bg-img24 {
    background-image: url("../img/full/24.jpg");
}

.bg-img25 {
    background-image: url("../img/full/25.jpg");
}

.bg-img26 {
    background-image: url("../img/full/26.jpg");
}

.bg-img27 {
    background-image: url("../img/full/27.jpg");
}

.bg-img28 {
    background-image: url("../img/full/28.jpg");
}

.bg-img29 {
    background-image: url("../img/full/29.jpg");
}

.bg-img30 {
    background-image: url("../img/full/30.jpg");
}

.border-b-box {
    padding: 25px;
    border-bottom: 1px solid $very-light-gray;
    display: inline-block;
    width: 100%;
}

.border-box {
    border: 1px solid $very-light-gray;
    padding: 25px;
}

.b-lrb-none .ui-tab-content, .b-lrb-none {
    border-left: 0px none;
    border-right: 0px none;
    border-bottom: 0px none;
}

.content-slider, .o-flow-hidden {
    overflow: hidden;
}

.map {
    width: 100%;
    height: 450px;
}

#map {
    height: 100%;
}


@media (max-width: 767px) {
    .inner-intro .container {
        width: 100%;
        max-width: 720px;
        text-align: center;
    }


    /*.inner-intro .container .title h2 {
            float: none;
        }

        .inner-intro .container .title p {
            float: none;
            margin-top: 0px;
        }
        .inner-intro .container .title .separator {
            margin-left:auto;
            margin-right:auto;
        }*/
}

/* ===================================================================================================== */
/* Contants (Portfolio, Blog, Shop, etc) -------------------  */
/* ===================================================================================================== */

.container.nf-container1 {
    padding-left: 15px;
    padding-right: 15px;
}

.container.nf-container2 {
    /*padding-left: 25px;
    padding-right: 25px;*/
}

.nf-row1 {
    margin-left: -15px;
    margin-right: -15px;
    /*overflow: hidden;*/
}

.nf-col-padding {
    padding-left: 25px;
    padding-right: 25px;
}

.nf-row2 {
    /*margin-left: -25px;
    margin-right: -25px;*/
}

    .nf-row1:before, .nf-row1:after, .nf-row2:before, .nf-row2:after {
        display: table;
        content: " ";
    }

    .nf-row1:after, .nf-row2:after {
        clear: both;
    }

.nf-row1 .nf-item.spacing, .nf-row1 .grid-sizer.spacing {
    padding: 15px;
}


.nf-row2 .nf-item.spacing, .nf-item.spacing, .nf-row2 .grid-sizer.spacing, .spacing-box {
    padding: 15px;
}

.spacing-grid {
    padding-top: 25px;
    padding-bottom: 25px;
}

.nf-col-1 .nf-item, .nf-col-1 .grid-sizer {
    width: 100%;
    min-height: 1px;
}

.nf-col-2 .nf-item, .nf-col-2 .grid-sizer {
    width: 50%;
    min-height: 1px;
}

.nf-col-3 .nf-item, .nf-col-3 .grid-sizer {
    width: 33.3333%;
    min-height: 1px;
}

.nf-col-4 .nf-item, .nf-col-4 .grid-sizer {
    width: 25%;
    min-height: 1px;
}

.nf-col-5 .nf-item, .nf-col-5 .grid-sizer {
    width: 20%;
    min-height: 1px;
}

.nf-col-6 .nf-item, .nf-col-6 .grid-sizer {
    width: 16.6666%;
    min-height: 1px;
}

.nf-col-1 .nf-item.w1, .nf-col-2 .nf-item.w1, .nf-col-3 .nf-item.w1, .nf-col-4 .nf-item.w1 {
    width: 100%;
}

.nf-col-1 .nf-item.w2, .nf-col-2 .nf-item.w2, .nf-col-3 .nf-item.w2, .nf-col-4 .nf-item.w2 {
    width: 50%;
}

.nf-col-1 .nf-item.w3, .nf-col-2 .nf-item.w3, .nf-col-3 .nf-item.w3, .nf-col-4 .nf-item.w3 {
    width: 33.3333%;
}

.nf-col-1 .nf-item.w4, .nf-col-2 .nf-item.w4, .nf-col-3 .nf-item.w4, .nf-col-4 .nf-item.w4 {
    width: 25%;
}

.nf-col-1 .nf-item.w4-2, .nf-col-2 .nf-item.w4-2, .nf-col-3 .nf-item.w4-2, .nf-col-4 .nf-item.w4-2,
.nf-col-1 .nf-item.w3-2, .nf-col-2 .nf-item.w3-2, .nf-col-3 .nf-item.w3-2, .nf-col-4 .nf-item.w3-2 {
    width: 50%;
}

.nf-col-1 .nf-item.w4-1, .nf-col-2 .nf-item.w4-1, .nf-col-3 .nf-item.w4-1, .nf-col-4 .nf-item.w4-1 {
    width: 75%;
}

.nf-col-1 .nf-item.w3-1, .nf-col-2 .nf-item.w3-1, .nf-col-3 .nf-item.w3-1, .nf-col-4 .nf-item.w3-1 {
    width: 66.6666%;
}

@media (max-width: 991px) {
    .nf-col-2 .nf-item, .nf-col-3 .nf-item, .nf-col-4 .nf-item,
    .nf-col-1 .nf-item.w2, .nf-col-2 .nf-item.w2, .nf-col-3 .nf-item.w2, .nf-col-4 .nf-item.w2,
    .nf-col-1 .nf-item.w3, .nf-col-2 .nf-item.w3, .nf-col-3 .nf-item.w3, .nf-col-4 .nf-item.w3,
    nf-col-1 .nf-item.w4, .nf-col-2 .nf-item.w4, .nf-col-3 .nf-item.w4, .nf-col-4 .nf-item.w4,
    .nf-col-1 .nf-item.w4-1, .nf-col-2 .nf-item.w4-1, .nf-col-3 .nf-item.w4-1, .nf-col-4 .nf-item.w4-1,
    .nf-col-1 .nf-item.w3-1, .nf-col-2 .nf-item.w3-1, .nf-col-3 .nf-item.w3-1, .nf-col-4 .nf-item.w3-1 {
        width: 50%;
    }

    .nf-col-5 .nf-item, .nf-col-6 .nf-item {
        width: 33.3333%;
    }



    .nf-row2 .nf-item.spacing, .nf-row2 .grid-sizer.spacing {
        padding: 25px;
    }
}

@media (max-width: 767px) {

    .container {
        margin: 0 auto;
        max-width: 480px;
        width: 100%;
    }

    .nf-col-padding {
        padding-left: 15px;
        padding-right: 15px;
    }

    .spacing-grid {
        padding-top: 15px;
        padding-bottom: 15px;
    }


    .nf-col-2 .nf-item, .nf-col-3 .nf-item, .nf-col-4 .nf-item,
    .nf-col-1 .nf-item.w2, .nf-col-2 .nf-item.w2, .nf-col-3 .nf-item.w2, .nf-col-4 .nf-item.w2,
    .nf-col-1 .nf-item.w3, .nf-col-2 .nf-item.w3, .nf-col-3 .nf-item.w3, .nf-col-4 .nf-item.w3,
    nf-col-1 .nf-item.w4, .nf-col-2 .nf-item.w4, .nf-col-3 .nf-item.w4, .nf-col-4 .nf-item.w4,
    .nf-col-1 .nf-item.w4-1, .nf-col-2 .nf-item.w4-1, .nf-col-3 .nf-item.w4-1, .nf-col-4 .nf-item.w4-1,
    .nf-col-1 .nf-item.w3-1, .nf-col-2 .nf-item.w3-1, .nf-col-3 .nf-item.w3-1, .nf-col-4 .nf-item.w3-1 {
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
    }

    .nf-col-3, .nf-col-4 {
        margin: 0 auto;
        max-width: 480px;
    }

    .nf-col-5 .nf-item, .nf-col-6 .nf-item {
        width: 100%;
    }

    .nf-row2 .nf-item.spacing, .nf-row1 .nf-item.spacing, .spacing-box {
        padding: 15px;
    }

    .xs-hidden {
        visibility: hidden !important;
        display: none !important;
        opacity: 0;
    }
}

@media (max-width: 480px) {

    .nf-col-5 .nf-item, .nf-col-6 .nf-item {
        width: 100%;
    }
}
/* ----------------------------------------------------------------------*/
/* Sidebar Widget   ---------------------------------------------------- */
/* ----------------------------------------------------------------------*/

.sidebar-widget {
    margin-bottom: 50px;
}

    .sidebar-widget h4 {
        margin: 0px;
        padding-top: 0;
        padding-bottom: 15px;
    }

.widget-search {
    position: relative;
}

    .widget-search input[type="text"] {
        padding-right: 30px;
    }

    .widget-search input[type="submit"] {
        background-color: rgba(0,0,0,0);
        border: 0 none;
        color: #8d8d8d;
        cursor: pointer;
        display: inline-block;
        float: right;
        font-family: "FontAwesome",sans-serif;
        margin: 0;
        outline: 0 none;
        white-space: nowrap;
        padding: 0 3px;
        text-decoration: none;
        @include transition(all 025s ease 0s);
        position: absolute;
        top: 10px;
        right: 10px;
    }

        .widget-search input[type="submit"]:hover {
            color: $highlight-color;
        }

.sidebar-widget hr {
    margin-bottom: 15px;
}

.sidebar-widget ul {
    margin: 0px;
    padding: 0px;
}

    .sidebar-widget ul li {
        list-style: none;
        font-weight: 400;
    }

        .sidebar-widget ul li a {
            display: inline-block;
            padding: 4px 0px;
            font-size: 13px;
            color: $dark-text-color;
        }

            .sidebar-widget ul li a:hover {
                color: $highlight-color;
            }

.widget-tag {
    display: inline-table;
    margin-top: 15px;
}

    .widget-tag li {
        float: left;
        margin-bottom: 5px;
        margin-right: 5px;
        text-transform: uppercase;
    }

        .widget-tag li a {
            padding: 4px 10px !important;
            display: block;
            border: 1px solid #eee;
        }

            .widget-tag li a:hover {
                background: $dark-text-color;
                color: $pure-white !important;
            }

.sidebar-widget .widget-post {
    position: relative;
}

    .sidebar-widget .widget-post .widget-post-media {
        width: 70px;
        display: table-cell;
        padding: 0px 15px 0px 0px;
    }

    .sidebar-widget .widget-post li {
        margin-bottom: 20px;
    }

    .sidebar-widget .widget-post a {
        padding: 0px;
    }

    .sidebar-widget .widget-post .widget-post-media img, .sidebar-widget .widget-post .widget-post-media video {
        width: 100%;
        vertical-align: top;
    }

    .sidebar-widget .widget-post .widget-post-info {
        display: table-cell;
        vertical-align: top;
    }

        .sidebar-widget .widget-post .widget-post-info h5, .sidebar-widget .widget-post .widget-post-info h6 {
            margin-bottom: 5px;
        }

        .sidebar-widget .widget-post .widget-post-info p {
            margin: 0px;
        }
/* ----------------------------------------------------------------------*/
/* Pagination Navigation   --------------------------------------------- */
/* ----------------------------------------------------------------------*/
.pagination-nav {
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
}

    .pagination-nav ul {
        margin: 0px;
        padding: 0px;
    }

        .pagination-nav ul li {
            display: inline-block;
            margin: 0px 2px;
        }

            .pagination-nav ul li a {
                display: block;
                background-color: $light-light-gray;
                height: 36px;
                width: 36px;
                line-height: 36px;
                text-align: center;
                font-size: 14px;
            }

            .pagination-nav ul li.active a {
                background: $dark-text-color;
                color: $pure-white;
            }


/* =============================================================================================================================*/
/* Parallax ------------------- */
/* =============================================================================================================================*/
.parallax {
    position: relative;
}



/*===========================================================================================*/
/* Preloader ------------------------- */
/*===========================================================================================*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,1);
    z-index: 9999;
    display: block;
}

    #preloader .loader {
        width: 50px;
        height: 50px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -30px 0 0 -30px;
        text-align: center;
    }

        #preloader .loader .loader-img {
            background: url("../img/loading.GIF");
            width: 60px;
            height: 60px;
            display: block;
        }


/*===========================================================================================*/
/* Additional */
/*===========================================================================================*/

/* ----------------------------------*/
/* Scroll Down Animated Arrow */
/* ----------------------------------*/
.intro-scroll-down {
    position: absolute;
    z-index: 1;
    bottom: 30px;
    left: 50%;
    margin-left: -15px;
}

    .intro-scroll-down .mouse {
        position: relative;
        display: block;
        width: 30px;
        height: 45px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 2px solid $pure-white;
        @include border-radius(23px);
    }

        .intro-scroll-down .mouse .mouse-dot {
            position: absolute;
            display: block;
            top: 29%;
            left: 50%;
            width: 6px;
            height: 6px;
            margin: -3px 0 0 -3px;
            background: $pure-white;
            @include border-radius(50%);
            -webkit-animation: ani-mouse 2.5s linear infinite;
            -moz-animation: ani-mouse 2.5s linear infinite;
            animation: ani-mouse 2.5s linear infinite;
        }

.background--light .intro-scroll-down .mouse {
    border: 2px solid $dark-text-color;
}

    .background--light .intro-scroll-down .mouse .mouse-dot {
        background: $dark-text-color;
    }

@-webkit-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }

    15% {
        opacity: 1;
        top: 50%;
    }

    50% {
        opacity: 0;
        top: 50%;
    }

    100% {
        opacity: 0;
        top: 29%;
    }
}

@-moz-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }

    15% {
        opacity: 1;
        top: 50%;
    }

    50% {
        opacity: 0;
        top: 50%;
    }

    100% {
        opacity: 0;
        top: 29%;
    }
}

@keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }

    15% {
        opacity: 1;
        top: 50%;
    }

    50% {
        opacity: 0;
        top: 50%;
    }

    100% {
        opacity: 0;
        top: 29%;
    }
}

/* ----------------------------------*/
/* Scroll Top Arrow */
/* ----------------------------------*/
.scroll-top {
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    font-size: 20px;
    background: $dark-text-color;
    background: #555;
    color: $pure-white;
    z-index: 99;
    display: none;
    @include transition(none);
}

    .scroll-top:hover {
        background: $highlight-color;
        text-decoration: none;
        color: $pure-white;
    }

@media (max-width: 768px) {
    .scroll-top {
        opacity: 0;
        visibility: hidden;
    }
}

/* ----------------------------------*/
/* Next Previous Arrow */
/* ----------------------------------*/
.project-next {
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    background: $dark-text-color;
    background: #555;
    color: $pure-white;
    z-index: 99;
    display: none;
    @include transition(none);
}

    .project-next:hover {
        background: $highlight-color;
        text-decoration: none;
        color: $pure-white;
    }

@media (max-width: 768px) {
    .project-next {
        opacity: 0;
        visibility: hidden;
    }
}


.left-column
{
    text-align: right;
}

.col1 {
width: 200px;
float: left;
text-align: left;
font-weight: 600;
}

.footer-address {
font-weight: 600;
}

/* ----------------------------------*/
/* One page styles */
/* ----------------------------------*/

.text-light {
    font-weight: 300;
}

/*padding*/
.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

