---

---
@import "assets/style.css"






$dark-text-color: #323232;
$highlight-color: #ebae49;
$very-light-gray: #f1f1f1;
$light-light-gray: #f7f7f7;
$dark-dark-gray:   #434343;
$very-dark-gray:  #3e3e3e;
$pure-white:	  #fff;
