---
layout: default
---

<div class="home">

   <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1" data-background-img="/assets/img/parallax/main.jpg">
            <div class="container">
                <div class="row title">
                    <h2 class="h2">Architectural and Interior Design</h2>
                    <h3 class="color">Est. 1993</h3>
                    
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
        <!-- End Intro Section -->


        <!-- About Section -->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="page-title">Who we are <span class="text-light">and what we do:</span> </h2>
                        <div class="spacer-15"></div>
                        <p class="lead">Established in 1993 by Rob Haine, Haine &amp; Co. carry out the architectural and interior design, project management and cost control of refurbishment, extension and interiors projects for a variety of private residential and commercial Clients, mainly in London but also throughout the UK and Europe.</p>
                    	<a class="btn-link-a" href="about.html">Read More</a>
                    </div>
                </div>
              
            </div>
        </section>

        <hr />

       

       

        <!-- Team Section -->
            <section id="team-people" class="section-padding text-center">
                <div class="container">
                    <h2 class="page-title">Our <span class="text-light">Projects</span></h2>
                </div>
                <div class="container"> 
                    <div class="row">
                        <!--Team Carousel -->
                        <div class="owl-carousel team-carousel nf-carousel-theme">

                            <div class="item">
                                <div class="team-item">
                                   <a href="architectdesign.html"> 
                                    <div class="team-item-img">
                                        <img src="/assets/img/projects/battersea.png" alt="Battersea Bridge Road" />
                                        <div class="team-item-detail">
                                            <div class="team-item-detail-inner">
                                                <h5>Battersea Bridge Road</h5>
                                               <p>
                                                	<div><span class="col1">Contract value:</span><span>£200,000</span></div>
                                                	<div><span class="col1">Year:</span> <span>2006</span></div>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-item-info">
                                        <h6>Architectural Design Refurbishment</h6>
                                    </div>
                                    </a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="team-item">
                                	<a href="interiordesign.html">
                                    <div class="team-item-img">
                                        <img src="/assets/img/thumb/hazelwoodthumb.jpg" alt="Hazelwood Farm" />
                                        <div class="team-item-detail">
                                            <div class="team-item-detail-inner">
                                                <h5>Hazelwood Farm</h5>
                                                <p>
                                                	<div><span class="col1">Contract value:</span><span>£400,000</span></div>
                                                	<div><span class="col1">Year:</span> <span>2016</span></div>
                                                </p>
                                                 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-item-info">
                                        <h6>Interior Design</h6>
                                    </div>
                                    </a>
                                    </div>
                                </div>
                          

                            <div class="item">
                                <div class="team-item">
                                	<a href="commercial.html">
                                    <div class="team-item-img">
                                        <img src="/assets/img/thumb/crawfordthumb.jpg" alt="Crawford Street Offices" />
                                        <div class="team-item-detail">
                                            <div class="team-item-detail-inner">
                                                <h5>Crawford St. Offices</h5>
                                                <p>
                                                	<div><span class="col1">Contract value:</span><span>£300,000</span></div>
                                                	<div><span class="col1">Year:</span> <span>2013</span></div>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-item-info">
                                        <h6>Commercial</h6>
                                    
                                    </div>
                                    </a>
                                </div>
                            </div>

                            
                        
                         </div>
                        
                        <!--End Team Carousel -->
                   </div>
                </div>
            </section>
            <!-- End Team Section -->

</div>
